@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

*{
    background-color: #fafafa;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'sans-serif';
}


*{ 
    /* border: dotted red 1px; */
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
    font: bold;
}

p{
    line-height: 1.5;
    font-size: 16px;
    /* font-size: 14px; */
    word-break: break-word;
}

.blue {
    color: #2e67ff;
}

.row{
    max-width: 1200px;
    margin: 0 auto;
}

.about-brand{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* NAVBAR */

.logo{
    width: 100%;
    height: 100px;
    /* padding: - ; */
}

.nav__bar--logo{
    /* padding: 20px 0px 0px 0px; */
}



.nav__bar{
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    max-width: 1200px;
    width: 100%;

}

.nav__links{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.nav__primary--link{
    padding: 20px;
}


/* TITLE  */

.about-brand{
    height: 100vh;
}

.about-brand__info--container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 1200px;
    padding: 0 30px;

    padding: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-brand__pic{
    width: 100%;
    height: 350px;
}


.about-brand__info--title{
    font-size: 48px;
    padding: 40px 0 ;
}

.about-brand__info{
    width: 100%;
    max-width: 400px;
}



/* ITEM PAGE  */

#item{

}

.item{
    /* top: 50%;
    left: 50%;
    height: 100vh; */
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.item__color--container{
    padding: 24px 0;
}

.item__info--heading{
    padding: 20px 0;
}

.item--colors{
    padding: 24px 0;
}

.item--color{
    width: 50px;
    height: 50px;
}

.buy__bttn{
    height: 40px;
    width: 80px;
}

.item--pic{
    width: 100%;
    height: 500px;
    /* right: 50% */
    padding: 0 48px 0 96px;
}



/* ABOUT PAGE  */

.about__section{
    margin: 0 auto;
    max-width: 1200px;

}

.about__heading{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 24px;
}

.about__info{
    margin: 0 auto;
    max-width: 800px;
}

.about__info--section{
    padding: 24px;
}

.about__info--description{
    padding: 12px 0;
}

.about__info--container{
    padding: 12px 0;
}

.about__info--title-heading{
    padding: 24px 0;
}

.about__info--logo{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

/* BROWSE PAGE  */
.products{

    /* margin: 0 auto; */
    max-width: 1200px;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.product__card-container{
    padding: 48px;
}

.product__card{
    border-radius: 24px;
    /* border-style: solid; */
    background-color: #fafafa;
    padding: 48px;
    transition: 0.3s;
    cursor: pointer;
    width: 300px;
    height: 450px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    
}

.post__card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}


.product__name{
    padding: 0 0 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
}
.product__price{
    padding: 20px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
}

.product__image{

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 200px;
}